{% extends 'base.html.twig' %}

{% block title %}Home {% endblock %}

{% block body %}
    <h1>Home Info</h1>
    <h2>{{ message }}</h2>
    <h3>{{ pointer }}</h3>

    <ul>
        {% for key,value in links %}
            <li><a href="{{ value }}">{{ key }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}