{% extends 'base.html.twig' %}

{% block title %}Home {% endblock %}

{% block body %}
    <h1>Home Info</h1>

    <ul>
        {% for h in home %}
            <li>{{ h }}</li>
        {% endfor %}
    </ul>
{% endblock %}