{% extends 'base.html.twig' %}

{% block title %}Home {% endblock %}

{% block body %}
    <h4>Home Info</h4>
    <h5>{{ message }}</h5>
    <h3>{{ pointer }}</h3>

    <ul>
        {% for key,value in links %}
            <li><a href="{{ value }}">{{ key }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}