{% extends 'base.html.twig' %}

{% block title %}Hirakata {% endblock %}

{% block body %}


    {% if content is defined %}
        {{ content }}
    {% endif %}

{% endblock %}

{% block footer %}
    <footer class="footer">
        <p class="footer-text">Made by {{ myname }}</p>
    </footer>
{% endblock %}