{% extends 'base.html.twig' %}

{% block title %}Contact info {% endblock %}

{% block body %}
    <h1>Contact info</h1>
    {% for key,value in resume %}
        <h3><a href="{{ value }}">{{ key }}</a></h3>
    {% endfor %}
    <ul>
        {% for c in contacts %}
            <li>{{ c }}</li>
        {% endfor %}
    </ul>
{% endblock %}